<template>
  <div class="h-full w-full">
    <pre>{{ clubData }}</pre>
    <the-modal
        :class="isModal ? 'block' : 'hidden'"
        :width="40"
        class="absolute top-0 right-0 left-0 z-50"
        @some-event="handleClose"
        @handle-add="submitForm"
    >
      <div class="flex flex-col gap-4">
        <the-input v-model="form.name" :label="'Название фильмы'" :type="'text'"></the-input>
        <the-input v-model="form.phone" :label="'Телефон'" :type="'number'"></the-input>
        <the-input v-model="form.description" :label="'Название Описание'" :type="'text'"></the-input>
        <file-input :label="'Фото фильмы'" @change="handleFile"></file-input>
      </div>
    </the-modal>
    <div class="h-[30%] bg-[] flex flex-col">
      <div></div>
      <div class="flex justify-between">
        <span></span>
        <add-btn :text="'Добавить'" @click="handleClick"></add-btn>
      </div>
    </div>
    <div class="h-[70%] w-full overflow-auto">
      <!--      <table class="text-black w-full border  h-full">-->
      <!--        <tr class="w-full sticky top-0 z-10 grid grid-cols-6 bg-[#F9FAFB] py-3 px-4">-->
      <!--          <th v-for="(item, idx) in header.header" :key="idx" class="text-start">{{ item }}</th>-->
      <!--        </tr>-->
      <!--        <tr v-for="(item, idx) in clubData" :key="idx" :class="idx === clubData.length -1 ? '' : 'divider'"-->
      <!--            class="w-full  grid grid-cols-6 justify-center px-4">-->
      <!--          <td class="py-2 flex items-center">{{ item.name }}</td>-->
      <!--          <td class="py-2 flex items-center">+{{ item.phone }}</td>-->
      <!--          <td class="py-2 flex items-center">-->
      <!--            <button class="bg-amber-600 text-white rounded px-3 py-1.5 underline  shadow-inner"-->
      <!--                    @click="handleCategory(item)">-->
      <!--              категория-->
      <!--            </button>-->
      <!--          </td>-->
      <!--          <td class="py-2 flex items-center col-span-2">{{ item.description }}</td>-->
      <!--          <td class="py-2 items-center flex gap-4 justify-end">-->
      <!--            <span @click="handleEdit(item)"><i class="cursor-pointer text-xl icon-pencil"></i></span>-->
      <!--            <span @click="handleDelet(item.id)"><i class="cursor-pointer text-xl icon-bin"></i></span>-->
      <!--          </td>-->
      <!--        </tr>-->
      <!--      </table>-->
    </div>
  </div>
</template>
<script setup>
import {computed, ref} from "@vue/reactivity"
import AddBtn from "../../components/baseButton/AddBtn.vue";
import TheModal from "../../components/baseModal/TheModal.vue";
import TheInput from "../../components/baseInput/TheInput.vue";
import FileInput from "../../components/baseInput/FileInput.vue";
import {useStore} from "@/stores";
import {useImagesStore} from "@/stores/image";

const indexStore = useStore()
const imageStore = useImagesStore()

const isModal = ref(false)
const form = ref({
  name: '',
  image: '',
  phone: '',
  description: '',
})

//fetch
indexStore.fetchActionWithoutParams(`/club`, "club")

//computed
const clubData = computed(() => indexStore.data?.club?.clubs)

//methods
function handleClick() {
  isModal.value = true
}

function handleClose() {
  isModal.value = false
}

function handleFile(e) {
  const data = new FormData();
  data.append('path', 'restaurant')
  data.append('file', e.target.files[0])
  imageStore.postImage(data).then(() => {
    form.value.image = imageStore.image?.data?.link
    console.log(form.value.image)
  })
}

function submitForm() {
  indexStore.postAction(`/cinema/`, form.value)
  isModal.value = false
  form.value.name = ''
  form.value.image = ''
  form.value.phone = ''
  form.value.description = ''
}
</script>