<template>
  <div class="flex justify-center h-full w-full items-center">
    <div
        class="w-1/4 flex flex-col items-center bg-white h-auto rounded-lg p-5"
    >
      <div class="text-center">
        <span class="text-xl">Добро пожаловать</span>
      </div>
      <div class="w-full mt-4 flex flex-col gap-6">
        <the-input v-model="form.username" :type="'text'" :label="'User Name'" ></the-input>
        <the-input  v-model="form.password"
                    :type="'password'"
                    :label="'Password'"></the-input>

        <add-btn @click="handleClick" :text="'добавить'"></add-btn>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref } from "vue";
import TheInput from "../../components/baseInput/TheInput.vue";
import AddBtn from "../../components/baseButton/AddBtn.vue";
import router from "@/router";
import {useAuth} from "@/stores/auth";

const authStore = useAuth()
const form = ref({
  username: "",
  password: "",
});

const handleClick = () => {
  authStore.login(form.value).then(res => {
 if (res) {
   router.push('/')
 }
  })
}
</script>
