<template>
    <div class="h-full w-full">
      <the-modal
          :class="isModal ? 'block' : 'hidden'"
          :width="40"
          class="absolute top-0 right-0 left-0 z-50"
          @some-event="handleClose"
          @handle-add="submitForm"
      >
        <div class="flex flex-col gap-4">
          <the-input :type="'text'" v-model="form.name" :label="'Название фильмы'"></the-input>
          <the-input :type="'number'" v-model="form.phone" :label="'Телефон'"></the-input>
          <the-input :type="'text'" v-model="form.description" :label="'Название Описание'"></the-input>
          <file-input  @change="handleFile" :label="'Фото фильмы'"></file-input>
        </div>
      </the-modal>
        <div class="h-[30%] bg-[] flex flex-col">
          <div></div>
          <div class="flex justify-between">
            <span></span>
            <add-btn :text="'Добавить'" @click="handleClick"></add-btn>
          </div>
        </div>
        <div class="h-[70%] w-full overflow-auto">
            <table class="text-black w-full border  h-full">
                <tr class="w-full sticky top-0 z-10 grid grid-cols-6 bg-[#F9FAFB] py-3 px-4">
                    <th class="text-start" v-for="(item, idx) in header.header" :key="idx">{{ item }}</th>
                </tr>
                <tr v-for="(item, idx) in cinemaData" :key="idx" :class="idx === cinemaData.length -1 ? '' : 'divider'" class="w-full  grid grid-cols-6 justify-center px-4">
                    <td class="py-2 flex items-center">{{item.name}}</td>
                    <td class="py-2 flex items-center">+{{ item.phone }}</td>
                  <td class="py-2 flex items-center col-span-3">{{ item.description }}</td>
                  <td class="py-2 items-center flex gap-4 justify-end">
                    <span @click="handleEdit(item)"><i class="cursor-pointer text-xl icon-pencil"></i></span>
                    <span @click="handleDelet(item.id)"><i class="cursor-pointer text-xl icon-bin"></i></span>
                  </td>
                </tr>
            </table>
        </div>
    </div>
</template>
<script setup>
import { ref } from "@vue/reactivity"
import staticData from "./data.json"
import AddBtn from "../../components/baseButton/AddBtn.vue";
import TheModal from "../../components/baseModal/TheModal.vue";
import TheInput from "../../components/baseInput/TheInput.vue";
import FileInput from "../../components/baseInput/FileInput.vue";
import {useStore} from "@/stores";
import {useImagesStore} from "@/stores/image";
import {computed} from "vue";

const indexStore = useStore()
const imageStore = useImagesStore()

const header = ref(staticData)
const isModal = ref(false)
const editValue = ref(0)
const form = ref({
  name: '',
  image: '',
  phone: '',
  description: '',
})

//fetch
indexStore.fetchActionWithoutParams(`/cinema`, "cinema")

//computed
const cinemaData = computed(() => indexStore.data?.cinema?.cinemas)

//methods
function handleClick() {
  isModal.value = true
}
function handleClose() {
  isModal.value = false
}
function handleFile(e) {
  const data = new FormData();
  data.append('path', 'restaurant')
  data.append('file', e.target.files[0])
  imageStore.postImage(data).then(() => {
    form.value.image = imageStore.image?.data?.link
    console.log(form.value.image)
  })
};
function submitForm() {
  indexStore.postAction(`/cinema/`, form.value).then(res => {
    if (res) {
      indexStore.fetchActionWithoutParams(`/cinema`, "cinema")
    } else  {
      indexStore.putAction(`/tag/${editValue.value}`, form.value).then(res => {
        if (res) {
          indexStore.fetchActionWithoutParams(`/cinema`, "cinema")
        }
      })
    }
  })
  isModal.value = false
  form.value.name = ''
  form.value.image = ''
  form.value.phone = ''
  form.value.description = ''
}

function handleEdit(item) {
  editValue.value = item.id
  form.value = item
  isModal.value = true

}
function handleDelet(id) {
  indexStore.deleteAction(`/cinema/${id}`).then((res) => {
    if (res) {
      indexStore.fetchActionWithoutParams(`/cinema`, "cinema")
    }
  })
}

</script>