<template>
    <div class="h-full">
        <div class="h-[30%] bg-[#F9FAFB]"></div>
        <div class="h-[70%]">
            <table>
                <tr>
                    <th></th>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</template>