<template>
  <div>
    <label for="label" class="uppercase">{{ props.label }}</label>
    <input
        ref="inputFile"
        :placeholder="props.label"
        accept="image/png, image/jpeg, .doc,.docx, .pdf, .txt"
        class="mt-2 bg-gray-50 border  border-[#D0D5DD] text-gray-900 text-sm rounded-lg w-full p-3.5 focus-visible:outline-none"
        type="file"
        @change="handleFile"
    />

  </div>
</template>
<script lang="ts" setup>
import {ref} from "vue";

const props = defineProps({
  label: String,
  modelValue: String,
});

const file = ref();
const inputFile = ref();


//methods

const handleFile = (e) => {
  file.value = e.target.files[0];
};
</script>