<template>
  <div class="main-modal  flex justify-center items-center">
    <the-modal
        :class="isModal ? 'block' : 'hidden'"
        :width="40"
        class="absolute top-0 right-0 left-0 z-50"
        @some-event="handleClose"
        @handle-add="submitForm">
      <the-input v-model="form.name" :label="'Название фильмы'" :type="'text'"></the-input>
      <the-input v-model="form.price" :label="'Телефон'" :type="'number'"></the-input>
      <the-input v-model="form.description" :label="'Название Описание'" :type="'text'"></the-input>
      <file-input :label="'Фото фильмы'" @change="handleFile"></file-input>
    </the-modal>
    <div
        :style="{ width: props.width + '%' }"
        class="bg-white shadow-2xl flex flex-col h-full  py-4 px-6 gap-4"
    >
      <div class="flex items-center justify-between">
        <h3 class="text-xl">{{ props.title }}</h3>
        <svg
            class="cursor-pointer"
            fill="none"
            height="20"
            viewBox="0 0 20 20"
            width="20"
            xmlns="http://www.w3.org/2000/svg"
            @click="$emit('someEvent')"
        >
          <path
              d="M15 5L5 15M5 5L15 15"
              stroke="#101828"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
          />
        </svg>
      </div>
      <div class="w-full h-full ">
        <table class="text-black h-full w-full border  h-full">
          <tr
              class="w-full flex sticky top-0 z-10 grid grid-cols-5 bg-[#F9FAFB] py-3 px-4">
            <th v-for="(item, idx) in props.header" :key="idx" class="text-start">{{ item }}</th>
          </tr>
          <tr v-for="(item, idx) in props.data" :key="idx" :class="idx === props.data.length -1 ? '' : 'divider'"
              class="w-full  grid grid-cols-5 justify-center px-4">
            <td class="py-2 flex items-center">{{ item.name }}</td>
            <td class="py-2 flex items-center">{{ item.price }}</td>
            <td class="py-2 flex items-center col-span-2">{{ item.description }}</td>
            <td class="py-2 items-center flex gap-4 justify-end">
              <span @click="handleEdit(item)"><i class="cursor-pointer text-xl icon-pencil"></i></span>
              <span @click="handleDelet(item.id)"><i class="cursor-pointer text-xl icon-bin"></i></span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>
<script setup>

import {ref} from "@vue/reactivity";
import TheModal from "./TheModal.vue";
import TheInput from "../../components/baseInput/TheInput.vue";
import FileInput from "../../components/baseInput/FileInput.vue";
import {useStore} from "@/stores";
import {useImagesStore} from "@/stores/image";

const indexStore = useStore()
const imageStore = useImagesStore()

const props = defineProps({
  data: {
    type: Array,
    required: true,
  },
  clubId: String,
  header: {
    type: Array
  },
  width: Number,
});

const isModal = ref(false)
const editValue = ref(0)
const form = ref({
  name: '',
  image: '',
  price: '',
  description: '',
})

//methods

function handleFile(e) {
  const data = new FormData();
  data.append('path', 'restaurant')
  data.append('file', e.target.files[0])
  imageStore.postImage(data).then(() => {
    form.value.image = imageStore.image?.data?.link
    console.log(form.value.image)
  })
}

function handleEdit(item) {
  editValue.value = item.id
  form.value.name = item.name
  form.value.image = item.image
  form.value.price = item.price
  form.value.description = item.description
  isModal.value = true
}

function submitForm() {
  indexStore.putAction(`/club/category/${editValue.value}`, form.value).then(res => {
    if (res) {
      window.location.reload();
    }
  })
  isModal.value = false
}

function handleDelet(id) {
  indexStore.deleteAction(`/club/category/${id}`).then((res) => {
    if (res) {
      window.location.reload();
    }
  })
}

function handleClose() {
  isModal.value = false
}

const clearModal = () => {
  console.log("sddsds");
};

</script>
<style scoped>
.main-modal {

  background: rgba(220, 104, 3, 0.05);
  height: 100%;
  width: 100%;
}
</style>
