<template>
  <button class="w-auto px-4 uppercase bg-amber-700 rounded-lg py-2 text-white">{{props.text}}</button>
</template>
<script setup>
const props = defineProps({
  text: {
    type: String,
    required: true
  }
})
</script>
