<template>
  <div class="w-full h-screen overflow-hidden flex">
    <div class="w-[15%]">
      <div class="divider-w bg-[#B54708] p-4">
        <svg fill="none" height="32" viewBox="0 0 80 32" width="80" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M0 16C0 7.16344 6.82233 0 15.2381 0C23.6539 0 30.4762 7.16344 30.4762 16C30.4762 24.8366 23.6539 32 15.2381 32C6.82233 32 0 24.8366 0 16Z"
              fill="white"/>
          <path d="M9.11428 22.58H6.03809V10.08H9.11428V22.58Z" fill="#F79009"/>
          <path
              d="M12.6232 10.08H16.347L22.0804 19.06L21.9375 10.08H24.947V22.58H21.528L15.5089 13.13L15.6423 22.58H12.6232V10.08Z"
              fill="#F79009"/>
          <path
              d="M35.895 15.88C35.895 11.64 38.2252 9.52 42.8855 9.52C45.1458 9.52 46.8442 10 47.9807 10.96C49.2379 12.02 49.8664 13.7033 49.8664 16.01C49.8664 18.3233 49.2411 20.01 47.9903 21.07C46.8474 22.0367 45.1458 22.52 42.8855 22.52C40.5807 22.52 38.8633 22.0267 37.7331 21.04C36.5077 19.9667 35.895 18.2467 35.895 15.88ZM42.8855 11.66C40.3712 11.66 39.1141 13.0733 39.1141 15.9C39.1141 17.3667 39.3871 18.46 39.9331 19.18C40.5426 19.9667 41.5268 20.36 42.8855 20.36C45.4061 20.36 46.6664 18.91 46.6664 16.01C46.6664 13.11 45.4061 11.66 42.8855 11.66Z"
              fill="white"/>
          <path
              d="M52.4706 9.76H56.1944L61.9278 18.74L61.7849 9.76H64.7944V22.26H61.3754L55.3564 12.81L55.4897 22.26H52.4706V9.76Z"
              fill="white"/>
          <path
              d="M74.0082 11.94C71.9129 11.94 70.8082 12.9067 70.6939 14.84L78.8463 14.85V17.02H70.6748C70.6812 18.1667 70.9732 18.9767 71.551 19.45C72.0653 19.87 72.8844 20.08 74.0082 20.08H78.8463V22.26H73.8653C71.9796 22.26 70.5256 21.8933 69.5034 21.16C68.0685 20.1333 67.351 18.49 67.351 16.23C67.351 13.9633 67.9193 12.3067 69.0558 11.26C70.1288 10.26 71.7605 9.76 73.951 9.76H78.8463V11.94H74.0082Z"
              fill="white"/>
        </svg>
      </div>
      <div class="bg-[#B54708] flex flex-col p-2 h-screen w-full">

        <router-link v-for="(item, idx) in routerData" :key="idx"
                     :class=" item.path === router.path ? 'bg-[#93370D]' : ''"
                     :to="item.path"
                     class="py-2 my-1 pl-4 rounded-lg text-white text-xl  w-full">
          <span class="mr-2"><i :class="`icon-${item.icon}`" class="text-[22px]"/></span>
          <span>{{ item.name }}</span>
        </router-link>
      </div>
    </div>
    <div class="w-[85%] bg-white h-screen  p-3" name="routerChange">
      <slot :key="route.params"/>
    </div>
  </div>
</template>

<script lang="ts" setup>
import {useRoute} from "vue-router";
import "../components/icons/style.css";

const router = useRoute()


const routerData = [
  {icon: 'home', name: 'Главная', path: '/'},
  {icon: 'truck', name: 'Доставка', path: '/delivery'},
  {icon: 'book', name: 'Бронирование', path: '/booking'},
  {icon: 'spoon-knife', name: 'Ресторан', path: '/restaurant'},
  {icon: 'users', name: 'Клиенты', path: '/clients'},
  {icon: 'stack', name: 'Категория ресторан', path: '/category-restaurant'},
  {icon: 'stack', name: 'Популярные блюда', path: '/popular-dishes'},
  {icon: 'video-camera', name: 'Кино', path: '/cinema'},
  {icon: 'dice', name: 'Клуб', path: '/club'},
  {icon: 'clubs', name: 'Клуб категория', path: '/club-category'},
  {icon: 'truck', name: 'Курьер', path: '/courier'},
  {icon: 'user', name: 'Администратор', path: '/admin'},
]

const route = useRoute();
</script>

<style scoped>

</style>